.top {
  text-align: center;
	padding-top: 60px;
  padding-right: 10px;
}

.title {
	text-align: center;
	font-size: 30px;
}

.main {
	
	margin-left: 40rpx;
}



.info-input {
	margin-top: 10px;
	height: 60rpx;
	border-bottom: 1px solid #f4f4f4;
}

.code {
	display: flex;
	align-items: center;
}

.regist {
	margin-top: 20px;
  padding-right: 20px;
}

.center{
    margin-top: 130rpx;
}